h2 {                                          // h2 est censer machez titte balise mais mon article pas au bon endroit....
    display: flex;
    justify-content: space-between; 
    align-items: center;        

.gallery {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem;       
}}

body .card {
  background-color: #080808;
}
body.dark-mode {
  background-color: #0c7b8a;
  color: rgb(202, 185, 185);
}

header {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(199, 144, 144);
}

.gallery {
    display: flex;
    
    gap: 1rem;
}

.card {
  
    background-color: rgba(0, 0, 0, 0.26);
    padding: 1rem;
    border-radius: 8px;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  background-color: tomato;
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: rgb(0, 225, 255);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}